/* Définition des polices personnalisées */
@font-face {
  font-family: "gg sans";
  src: url("/assets/fonts/ggsans-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gg sans";
  src: url("/assets/fonts/ggsans-Semibold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gg sans";
  src: url("/assets/fonts/ggsans-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

:root {
  --primary-bg: #36393f;
  --secondary-bg: #2f3136;
  --accent: #7289da;
  --text-color: #ffffff;
  --secondary-text: #b9bbbe;
  --input-bg: #202225;
  --message-bg: #32353b;
  --avatar-border: #292b2f;
}

body.light {
  --primary-bg: #ffffff;
  --secondary-bg: #f2f3f5;
  --accent: #5865f2;
  --text-color: #2e3338;
  --secondary-text: #747f8d;
  --input-bg: #e3e5e8;
  --message-bg: #ebedef;
  --avatar-border: #d4d7dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: "gg sans", sans-serif;
  font-weight: normal;
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: var(--secondary-bg);
  width: 18%;
  padding: 20px 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sidebar ul {
  list-style-type: none;
  padding: 0 20px;
}

.sidebar-channels {
  flex-grow: 1;
  overflow-y: auto;
}

.channel-category {
  font-size: 0.8em;
  text-transform: uppercase;
  color: var(--secondary-text);
  margin-top: 20px;
  margin-bottom: 5px;
}

.sidebar ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul li:hover {
  background-color: var(--primary-bg);
}

.sidebar ul li i {
  margin-right: 10px;
}

.sidebar ul li.active {
  background-color: var(--accent);
  color: #ffffff;
}

.sidebar ul li.active:hover {
  background-color: var(--accent);
}

.channel-list {
  list-style-type: none;
  padding-left: 20px;
}

.channel-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.channel-list li i {
  margin-right: 10px;
  color: var(--secondary-text);
}

.content {
  background-color: var(--primary-bg);
  width: 82%;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Assurez-vous que le contenu prend toute la hauteur */
}

.navbar {
  height: 60px;
  background-color: var(--secondary-bg);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}

.navbar .search {
  padding: 10px;
  background-color: var(--input-bg);
  border-radius: 5px;
  color: var(--secondary-text);
  outline: none;
  border: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--avatar-border);
  cursor: pointer; /* Ajout de cette ligne */
}

.username {
  margin-right: 10px;
}

.logout-btn {
  color: var(--text-color);
  text-decoration: none;
  padding: 5px 10px;
  background-color: var(--accent);
  border-radius: 4px;
}

.chat-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: calc(
    100% - 60px
  ); /* Hauteur totale moins la hauteur de la barre de navigation */
}

.chat-bubble {
  background-color: var(--message-bg);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  width: fit-content;
  max-width: 60%;
  display: flex;
  align-items: start;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chat-bubble.user {
  background-color: var(--accent);
  margin-left: auto;
  color: #ffffff;
}

.chat-bubble.system {
  background-color: transparent;
  border: 1px solid var(--secondary-bg);
}

.chat-bubble.system .message-avatar {
  width: 40px;
  height: 40px;
}

.channel {
  display: none;
  height: 100%;
  flex-direction: column;
  padding: 20px; /* Ajout d'un padding pour tous les canaux */
}

.channel.active {
  display: flex;
}

/* Styles spécifiques pour les canaux accueil, vocal et paramètres */
#accueil,
#vocal,
#parametres {
  padding: 30px; /* Un padding plus grand pour ces canaux spécifiques */
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.message-form {
  display: flex;
  padding: 20px;
  background-color: var(--primary-bg);
  border-top: 1px solid var(--secondary-bg);
}

.message-form input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--text-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-form button {
  background-color: var(--accent);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
}

#settings-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
  margin-top: 20px; /* Ajout d'une marge en haut du formulaire de paramètres */
}

#settings-form input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--text-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.settings-button,
#logout-button {
  background-color: var(--accent);
  color: var(--text-color);
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
  margin-top: 15px;
}

.settings-button:hover,
#logout-button:hover {
  background-color: #4752c4;
}

.avatar-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#avatar-file-name {
  font-size: 0.9em;
  color: var(--secondary-text);
}

.theme-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.theme-switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#settings-form button {
  background-color: var(--accent);
  color: var(--text-color);
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

#settings-form button:hover {
  background-color: #4752c4;
}

.message-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid var(--avatar-border);
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-username {
  font-weight: bold;
  margin-bottom: 2px;
}

.message-text {
  word-break: break-word;
}

.fa-sun {
  color: #f1c40f;
}

.fa-moon {
  color: #ffffff;
}

body.light .fa-sun {
  color: #f39c12;
}

body.light .fa-moon {
  color: #34495e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800; /* Utilise la version Extrabold pour les titres */
}

.sidebar ul li,
.username,
.message-username {
  font-weight: bold; /* Utilise la version Semibold pour ces éléments */
}

.channels-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.channels-box {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding: 20px;
  width: 48%; /* Ajustez cette valeur si nécessaire */
}

.channels-box h3 {
  margin-bottom: 15px;
  color: var(--accent);
}

.channel-list {
  list-style-type: none;
  padding-left: 0;
}

.channel-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.channel-list li:hover {
  background-color: var(--primary-bg);
}

.channel-list li i {
  margin-right: 10px;
  color: var(--secondary-text);
}

.channel-list li:hover i {
  color: var(--text-color);
}

.add-friend-btn {
  background-color: var(--accent);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  width: 36px; /* Légèrement augmenté */
  height: 36px; /* Légèrement augmenté */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 50px; /* Augmenté de 30px à 50px */
  transition: background-color 0.3s;
}

.add-friend-btn:hover {
  background-color: #4752c4;
}

.friend-code-container {
  margin-top: 15px;
}

.friend-code-display {
  padding: 10px;
  background-color: var(--secondary-bg);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto; /* Ajoutez cette ligne */
  min-height: 40px; /* Ajoutez cette ligne */
}

#friend-code {
  font-weight: bold;
  color: var(--accent);
  cursor: pointer;
  transition: opacity 0.3s;
  flex-grow: 1;
  text-align: center;
  margin-left: 10px; /* Ajoutez cette ligne pour créer un espace entre le label et le code */
}

#friend-code:hover {
  opacity: 0.8;
}

.copy-confirmation {
  display: block;
  font-size: 0.8em;
  color: var(--accent);
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: 5px;
  min-height: 1.5em; /* Augmenté de 1.2em à 1.5em */
  line-height: 1.5em; /* Ajout de cette ligne pour garantir une hauteur constante */
  text-align: center;
  width: 100%;
}

/* Ajoutez ceci à la fin du fichier */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto; /* Permet le défilement si le contenu est trop grand */
}

.modal-content {
  background-color: var(--primary-bg);
  margin: 5% auto; /* Réduit la marge supérieure pour les petits écrans */
  padding: 20px;
  border-radius: 5px;
  width: 90%; /* Utilise un pourcentage pour la largeur */
  max-width: 600px; /* Limite la largeur maximale */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content p {
  margin-bottom: 15px;
  line-height: 1.4; /* Améliore la lisibilité */
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-buttons button {
  flex: 1; /* Les boutons prennent une largeur égale */
  min-width: 100px; /* Assure une largeur minimale pour les boutons */
}

/* Ajoutez ces media queries pour la responsivité */
@media (max-width: 768px) {
  .modal-content {
    width: 95%;
    margin: 10% auto;
  }
}

@media (max-width: 480px) {
  .modal-buttons {
    flex-direction: column;
  }

  .modal-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Ajoutez ceci à la fin du fichier */
.avatar-modal-content {
  text-align: center;
}

#enlarged-avatar {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 10px;
}

.close {
  color: var(--text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
}

/* Ajoutez ceci à la fin du fichier */
.user-info-modal-content {
  text-align: center;
}

#modal-avatar {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.chat-bubble .message-username {
  cursor: pointer;
}

.chat-bubble .message-username:hover {
  text-decoration: underline;
}

#logged-out-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; /* Augmenté de 15px à 20px */
}

.not-connected-message {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--accent);
  margin-bottom: 10px; /* Ajout d'une marge en bas */
}

.large-button {
  font-size: 1.1em;
  padding: 12px 20px;
  width: 100%;
  max-width: 250px;
  margin-top: 10px; /* Ajout d'une marge en haut */
}

.message-form-container {
  position: relative;
}

.message-form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.message-form-overlay p {
  color: var(--text-color);
  background-color: var(--secondary-bg);
  padding: 15px;
  border-radius: 5px;
}

.message-form-overlay .settings-button {
  background-color: var(--accent);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.message-form-overlay .settings-button:hover {
  background-color: #4752c4;
}

.user-info-modal-content .friend-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-info-modal-content #modal-friend-code {
  font-weight: bold;
  color: var(--accent);
}

.user-info-modal-content #copy-friend-code {
  padding: 8px 15px;
  font-size: 0.9em;
  width: auto;
  max-width: none;
}

.crop-modal-content {
  width: 90%;
  max-width: 500px;
}

.crop-container {
  max-width: 100%;
  max-height: 70vh;
  margin-bottom: 20px;
}

#crop-image {
  max-width: 100%;
  max-height: 70vh;
}

#zoom-slider {
  width: 100%;
  margin-bottom: 20px;
}

.avatar-hint {
  font-size: 0.8em;
  color: var(--secondary-text);
  margin-top: -5px;
  margin-bottom: 10px;
}

.settings-box {
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.settings-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.settings-box input[type="text"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  background-color: var(--input-bg);
  color: var(--text-color);
}

.avatar-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

#avatar-button {
  flex-shrink: 0;
}

#avatar-file-name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fa-sun,
.fa-moon {
  font-size: 1.2em;
}

/* Modifiez la règle existante pour .friend-code-display */
.friend-code-display {
  padding: 10px;
  background-color: var(--secondary-bg);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto; /* Ajoutez cette ligne */
  min-height: 40px; /* Ajoutez cette ligne */
}

/* Ajoutez cette nouvelle règle */
.friend-code-display label {
  margin-bottom: 0; /* Supprime la marge en bas du label */
}

/* Modifiez la règle existante pour #friend-code */
#friend-code {
  font-weight: bold;
  color: var(--accent);
  cursor: pointer;
  transition: opacity 0.3s;
  flex-grow: 1;
  text-align: center;
  margin-left: 10px; /* Ajoutez cette ligne pour créer un espace entre le label et le code */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.theme-toggle-btn {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.2em;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  transition: color 0.3s;
}

.theme-toggle-btn:hover {
  color: var(--accent);
}

.add-friend-btn {
  margin-right: 50px;
}

