@font-face {
  font-family: "GG-extrabold";
  src: url("/assets/fonts/ggsans-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GG-semibold";
  src: url("/assets/fonts/ggsans-Semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: "GG-semibold";
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes slideDownBounce {
  0% {
    transform: translateY(-10vh);
    opacity: 0.5;
  }
  60% {
    transform: translateY(20px);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.box {
  font-size: 20px;
  background-color: #36393f;
  padding: 40px 40px 10px 40px;
  border-radius: 10px;
  width: 480px;
  text-align: center;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  animation: slideDownBounce 0.25s ease-out forwards;
}

.box p {
  font-size: 16px;
  margin-bottom: 20px;
}

.shadow {
  opacity: 50%;
}

.login-form,
.signup-form,
.request-code-form,
.verify-code-form,
.reset-password-form,
.password-changed {
  font-family: "GG-extrabold";
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: oklab(0.786807 -0.0025776 -0.0110238);
}

input {
  font-family: "GG-semibold";
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #202225;
  min-height: 40px;
  color: white;
  padding: 10px 40px 10px 10px;
  margin-bottom: 25px;
}

a {
  font-size: 14px;
  font-family: "GG-semibold";
  color: oklab(0.700834 -0.078035 -0.1469);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: -18px;
  margin-bottom: 25px;
}

button {
  cursor: pointer;
  background-color: #5865f2;
  color: white;
  font-family: "GG-semibold";
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 100%;
  min-height: 40px;
  margin: 0 0 8px;
}

p,
h2 {
  cursor: default;
}

p {
  color: oklab(0.686679 -0.00398019 -0.0150182);
}

label {
  margin-bottom: 8px;
}

.chargement {
  width: auto;
  margin: 5px;
  padding: 10px 15px 10px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #36393f;
  border-radius: 5px;
}

.terms-label input[type="checkbox"] {
  display: none;
}

.terms-label {
  display: flex;
  align-items: center;
  margin: 17px 0 25px 0;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
}

.terms-label input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #5865f2;
}

.terms-label input[type="checkbox"]:checked + .custom-checkbox::before {
  content: "";
  position: absolute;
  left: 5px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#signup-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#signup-button {
  opacity: 1;
  cursor: pointer;
}

.password-changed{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: #fff;
}

.password-changed h2{
  font-family: "GG-semibold";
  margin-bottom: 20px;
}